html {
	background-color: lightseagreen;
	text-align:right;
	font-family: "Nueva Std", serif, serif, serif;
	margin:400px;

}

body{

}
#what{color: #00ffbf;

}
	
#know{color: #00bfff;
 }

#findout{color: #ff0080;

}