html{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {

	-moz-box-sizing: border-box;
	box-sizing: border-box;

}


body{
	margin:0px; 
}

#topbar{
	position:fixed;
	padding:10px;
	background-color: pink;
	width:100%;

}

#topbar p:hover{
	font-family: "Courier New",Courier,monospace;
	text-align: center;

}

#cat{
	width: 40%;
	float: left;
	background-color: deepskyblue;
	padding: 10px;
}

#kitten{
	background-color: grey;
}

#dog{
	width: 20%;
	float: left;
	background-color: orange;
	height: 600px;

}

#bird{
	width: 40%;
	float: right;
	background-color: purple; 
	height: 600px;
}

#footer{
	background-color: brown;
	color: white;
	padding: 20px;

}

.group:after{
	content: "";
	display: table;
	clear: both;


}