html {

}

body{
       background: url('images/spinningwheel.jpg') no-repeat center center fixed;
       font-family: 'Megrim', cursive;
       color: #f2f2f2;
       font-size: 200pt;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
}

div {
    width: 100%;
    height: 100%;
    visibility: initial;
}

a.invisible
{
    display:hidden;
}

#header
{
    background: url(logoExample.jpg);
    width: 180px;
    height: 135px;
    position: relative;
}

#header a
{
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 135px;
}

#header a h1
{
    display: none;
}